<div class="container">

  <div class="row my-4" data-controller="vet-signup">

    <div class="col-6 text-center">
      <%= image_tag "vet-sign-up.png", class: "sign-up-img" %>
    </div>

    <div class="col-6 shadow-lg border rounded" data-vet-signup-target="steps">
      <div class="my-3 mx-2">
        <h2>Registro Vets</h2>

        <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), data: { turbo: false }) do |f| %>
          <%= f.error_notification %>

          <div class="step">
            <h3> Información login </h3>
            <%= f.input :email,
                        required: true,
                        autofocus: true,
                        input_html: { autocomplete: "email" }%>
            <%= f.input :password,
                        required: true,
                        hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                        input_html: { autocomplete: "new-password" },
                        label: "Contraseña" %>
            <%= f.input :password_confirmation,
                        required: true,
                        input_html: { autocomplete: "new-password" },
                        label: "Confirmar contraseña" %>
          </div>

          <div class="step">
            <h3> Información veterinaria </h3>
            <%= f.association :veterinary,
                              collection: Veterinary.all.map{|veterinary| [veterinary.name, veterinary.id]},
                              prompt: "Selecciona una veterinaria",
                              label: "Veterinaria" %>
            <%= f.input :specialty,
                        required: true,
                        autofocus: true,
                        label: "Especialidad" %>
          </div>

          <div class="step">
            <h3> Información adicional </h3>
            <%= f.input :name,
                        required: true,
                        autofocus: true,
                        input_html: { autocomplete: "name" },
                        label: "Nombre" %>
            <%= f.input :phone_number,
                        required: true,
                        hint: "+569 XXXXXXXX",
                        autofocus: true,
                        label: "Número de contacto" %>
            <%= f.input :address,
                        required: true,
                        autofocus: true,
                        label: "Dirección" %>
            <%= f.input :photo, as: :file %>
          </div>

          <div class="d-flex justify-content-center gap-2">
            <button type="button"
                    id="prevBtn"
                    data-action="click->vet-signup#nextPrev"
                    data-vet-signup-n-param="-1"
                    class="btn btn-secondary"> Atras </button>
            <button type="button"
                    id="nextBtn"
                    data-action="click->vet-signup#nextPrev"
                    data-vet-signup-n-param="1"
                    class="btn btn-primary"> Siguiente </button>
            <%= f.button :submit, "Sign up", id: "signupBtn", class: "btn btn-primary" %>
          </div>
        <% end %>
      </div>

      <ul class="pagination pagination-lg justify-content-center">
        <li class="page-item active"><span class="page-link">1</span></li>
        <li class="page-item"><a class="page-link" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
      </ul>
    </div>

  </div>

</div>
