<% if current_owner  %>
  <div class="container py-5">
    <div class="row">
      <div class="col-12 col-md-6 offset-lg-3">
        <div class="bg-white rounded p-3 shadow container-edit">
          <h3>Añade tu mascota</h3>
          <%= simple_form_for @pet do |f| %>
            <%= f.input :name, placeholder: "Nombre de tu macota", label: "Nombre" %>
            <%= f.association :animal_type, collection: AnimalType.all.map{|animal| [animal.animal_type, animal.id]}, prompt: "Selecciona el tipo de animal", label: "Tipo de animal" %>
            <%= f.input :photo, as: :file, label: "Añade una imagen para tu mascota (opcional)" %>
            <%= f.input :birthdate, placeholder: "Fecha de nacimiento de tu mascota", label: "Fecha de nacimiento" %>
            <%= f.input :weight, placeholder: "El peso de tu mascota (opcional)", label: "Peso (Kg)" %>
            <%= f.input :pet_chip, placeholder: "El chip de tu mascota (opcional)", label: "Chip de tu mascota" %>
            <%= f.submit "Añadir mascota", class: "btn btn-primary" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
<% else %>
  <h1>You are not logged in as an Owner!</h1>
  <div class="alert alert-primary" role="alert">
    You are not logged in as an Owner!
  </div>
<% end %>
