<div class="container my-auto">
  <div class="card col-8 mx-auto">
    <div class="row">
      <img
        src="https://static.fundacion-affinity.org/cdn/farfuture/PVbbIC-0M9y4fPbbCsdvAD8bcjjtbFc0NSP3lRwlWcE/mtime:1643275542/sites/default/files/los-10-sonidos-principales-del-perro.jpg"
        alt=""
        class="pet-show-avatar col-6"
        >
      <h1 class="col-6 my-auto"><%= @pet.name %></h1>
    </div>
    <div data-controller="pet-show">
      <div>
        <ul class="section1">
          <li><button data-action="click->pet-show#open", data-info-data="info", class="button1">Información</button></li>
          <li><button data-action="click->pet-show#open", data-info-data="records", class="button1">Registros</button></li>
          <li><button data-action="click->pet-show#open", data-info-data="appointments", class="button1">Citas</button></li>
          <li><button data-action="click->pet-show#open", data-info-data="notifications", class="button1">Notificaciones</button></li>
        </ul>
      </div>
      <div>
        <div data-pet-show-target="info", class="row d-none", id="info">
          <div class="col-5">
            <p>Dueño: <%= @pet.owner.name %></p>
            <p>Edad: <%= @age_years %> años y <%= @age_months %> meses</p>
            <p>Especie: <%= @pet.animal_type.animal_type %></p>
            <p>Peso: <%= @pet.weight %> kg</p>
            <p>Número de chip: <%= @pet.pet_chip %></p>
          </div>
          <div class="col-7 my-auto">
            <img src="https://img.freepik.com/iconos-gratis/lapiz_318-924522.jpg?w=2000"
            alt=""
            class="pet-show-img"
            >
          </div>
        </div>
        <div data-pet-show-target="records", class="d-none", id="records">
          <p>Registros</p>
        </div>
        <div data-pet-show-target="appointments", class="d-none", id="appointments">
          <p>Citas</p>
        </div>
        <div data-pet-show-target="notifications", class="d-none", id="notifications">
          <p>Notificaciones</p>
        </div>
      </div>
    </div>
  </div>
</div>
