<div class="container my-auto">
  <div class="card col-8 mx-auto my-8">
    <div class="row">
      <img
        src="https://static.fundacion-affinity.org/cdn/farfuture/PVbbIC-0M9y4fPbbCsdvAD8bcjjtbFc0NSP3lRwlWcE/mtime:1643275542/sites/default/files/los-10-sonidos-principales-del-perro.jpg"
        alt=""
        class="pet-show-avatar col-6"
        >
      <h1 class="col-6 my-auto"><%= @pet.name %></h1>
    </div>
    <div data-controller="pet-show">
      <div>
        <ul class="section1">
          <li><button data-action="click->pet-show#open", data-info-data="info", class="button1">Información</button></li>
          <li><button data-action="click->pet-show#open", data-info-data="records", class="button1">Registros</button></li>
          <li><button data-action="click->pet-show#open", data-info-data="appointments", class="button1">Citas</button></li>
          <li><button data-action="click->pet-show#open", data-info-data="notifications", class="button1">Notificaciones</button></li>
        </ul>
      </div>
      <div>
        <div data-pet-show-target="info", class="row d-none", id="info">
          <div class="infopet col-5">
            <p><u>Dueño:</u> <%= @pet.owner.name %></p>
            <p><u>Edad:</u> <%= @age_years %> años y <%= @age_months %> meses</p>
            <p><u>Especie:</u> <%= @pet.animal_type.animal_type %></p>
            <p><u>Peso:</u> <%= @pet.weight %> kg</p>
            <p><u>Número de chip:</u> <%= @pet.pet_chip %></p>
          </div>
          <div class="col-7 my-auto">
            <img src="https://img.freepik.com/iconos-gratis/lapiz_318-924522.jpg?w=2000"
            alt=""
            class="pet-show-img"
            >
          </div>
        </div>
        <div data-pet-show-target="records", class="d-none", id="records">
          <table class="table">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Veterinario</th>
                <th scope="col">Registro</th>
                <th scope="col">Tipo</th>
                <th scope="col">Fecha</th>
                <th scope="col"> </th>
              </tr>
            </thead>
            <tbody>
              <% @pet.records.each_with_index do |record, index|  %>
                <tr>
                  <th scope="row"><%= index + 1 %></th>
                  <td><%= record.vet.name %></td>
                  <td><%= record.name %></td>
                  <td><%= record.record_type.record_type %></td>
                  <td><%= record.date %></td>
                  <td><%= link_to "Ver", record_path(record), class: "verinfo btn btn-primary" %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        <%= link_to "Añadir registro", new_pet_record_path(@pet), class: "button2 mx-auto mr-3" %>
        </div>
        <div data-pet-show-target="appointments", class="infopet d-none", id="appointments">
          <p>Citas</p>
        </div>
        <div data-pet-show-target="notifications", class="infopet d-none", id="notifications">
          <p>Notificaciones</p>
        </div>
      </div>
    </div>
  </div>
</div>
