<div class="wrapper" data-controller="sidebar-buttons">

  <%# Sidebar %>
  <nav id="sidebar">

    <div class="sidebar-header text-center">
      <%# profile img %>
      <%= cl_image_tag current_vet.photo.key, crop: "fill", class: "vet-home-img" %>
      <h3> <%= current_vet.name %> </h3>
    </div>

    <ul class="list-unstyled components" data-sidebar-buttons-target="btnList">
      <li>
        <%= link_to "Mascotas atendidas",
                    attended_pets_path,
                    class: "sidebar-btn",
                    "data-action" => "click->sidebar-buttons#showView" %>
      </li>
      <li>
        <button type="button"
                class="sidebar-btn"
                data-action="click->sidebar-buttons#showView"
                data-sidebar-buttons-viewToShow-param="veterinaryView">Veterinaria</button>
      </li>
      <li>
        <button type="button"
                class="sidebar-btn"
                data-action="click->sidebar-buttons#showView"
                data-sidebar-buttons-viewToShow-param="petsView">Mascotas</button>
      </li>
      <li>
        <button type="button"
                class="sidebar-btn"
                data-action="click->sidebar-buttons#showView"
                data-sidebar-buttons-viewToShow-param="mydataView">Mascotas</button>
      </li>
      <li>
        <button type="button"
                class="sidebar-btn"
                data-action="click->sidebar-buttons#showView"
                data-sidebar-buttons-viewToShow-param="mydataView">Mi cuenta</button>
      </li>
    </ul>

    <div class="d-flex flex-row justify-content-center gap-5 mt-5">
      <%= link_to raw("<i class=\"fa-solid fa-house fa-lg\"></i>"),
                  root_path,
                  class: "sidebar-icon",
                  "data-bs-toggle" => "tooltip",
                  "data-bs-title" => "Inicio",
                  "data-bs-placement" => "top",
                  "data-action" => "click->sidebar-buttons#showView" %>

      <button type="button"
              class="sidebar-icon"
              data-bs-toggle="tooltip"
              data-bs-title="Cuenta"
              data-bs-placement="top"
              data-action="click->sidebar-buttons#showView"
              data-sidebar-buttons-viewToShow-param="mydataView"><i class="fa-solid fa-user fa-lg"></i></button>

      <%= link_to raw("<i class=\"fa-solid fa-arrow-right-from-bracket fa-lg\"></i>"),
                  destroy_vet_session_path,
                  data: {turbo_method: :delete},
                  class: "sidebar-icon",
                  "data-bs-toggle" => "tooltip",
                  "data-bs-placement" => "top",
                  "data-bs-title" => "Cerrar sesión"%>
    </div>

  </nav>

  <div class="container m-3" id="content">
    <%= yield %>
  </div>

</div>
