<div class="container">
  <h2>Nombre: <span> <%= @pet.name %></span></h2>
  <%= form_for @record do |f| %>
  <div>
    <h5>Nombre del registro:</h5>
    <%= f.text_field :name %>
  </div>
  <div>
    <h5>Fecha:</h5>
    <%= f.text_field :date %>
  </div>
  <div>
    <h5>Observación:</h5>
    <%= f.text_field :observation %>
  </div>
  <%= f.submit %>
  <% end %>
  <p>Registro creado por <%= @record.vet.name %>, de la veterinaria <%= @record.vet.veterinary.name %></p>
  <img src="" alt="Imagen de la mascota">
<div>
