<% if current_vet %>
<div class="card">
  <h2><u>Nombre:</u> <span> <%= @pet.name %></span></h2>
  <%= form_for @record do |f| %>
  <div>
    <h5 class="mt-1">Nombre del registro:</h5>
    <%= f.text_field :name, class: "cardfield" %>
  </div>
  <div>
    <h5 class="mt-2">Fecha:</h5>
    <%= f.text_field :date, class: "cardfield" %>
  </div>
  <div>
    <h5 class="mt-2">Observación:</h5>
    <%= f.text_field :observation, class: "cardfield" %>
  </div>
  <%= f.submit class: "cardfield btn btn-primary mt-3" %>
  <% end %>
  <p>Registro creado por <%= @record.vet.name %>, de la veterinaria <%= @record.vet.veterinary.name %></p>
  <img src="" alt="Imagen de la mascota">
<div>
<% else %>
<h1>No estás logueado como Veterinario!</h1>
<% end %>
