<% if current_vet %>
  <div class="container py-5">
    <div class="row">
      <div class="col-12 col-md-6 offset-lg-3">
        <div class="bg-white rounded p-3 shadow container-edit">
          <h3>Añade un nuevo registro para <%= @pet.name %></h3>
          <%= simple_form_for [@pet, @record] do |f| %>
            <%= f.input :name, label: "Nombre", placeholder: "Nombre del registro" %>
            <%= f.association :record_type, label: "Tipo", collection: RecordType.all.map{|record| [record.record_type, record.id]}, prompt: "Tipo de registro"%>
            <%= f.input :date, label: "Fecha", placeholder: "Fecha del registro" %>
            <%= f.input :observation, label: "Observación", placeholder: "Observación del registro" %>
            <%= f.input :image, as: :file, label: "Imagen del registro (opcional)" %>
            <%= f.submit %>
          <% end  %>
        </div>
      </div>
    </div>
  </div>
<% else %>
  <h1>You are not logged in as an Vet!</h1>
  <div class="alert alert-primary" role="alert">
    You are not logged in as an Vet!
  </div>
<% end %>
