<div class="container">
  <h1>Registro Médico de <%= @pet.name %> </h1>
  <div class="registro-mascota">
    <h5>Fecha: <p><%= @record.date %></p></h5>
    <h5>Observación: <p><%= @record.observation %></p></h5>
    <p>Registro creado por <%= @record.vet.name %>, de la veterinaria <%= @record.vet.veterinary.name %></p>
    <img src="" alt="Imagen de la mascota">
  </div>
  <div>
  <% if current_vet && @record.vet == current_vet %>
    <button><%= link_to "editar", edit_record_path(@record) %></button>
  <% end %>
  </div>
</div>
