<div class="container">
<h1><%= @veterinary.name %></h1>
<div class="d-flex">
  <h4 class="px-2">Address:</h4><p class="p-0 m-0"><%=  @veterinary.address %></p>
</div>
</div>
<div class="mt-4">
  <h2>Mascotas de la veterinaria</h2>
  <div class="d-flex gap-5">
    <% @veterinary_pets.each do |pet| %>
      <%= link_to pet_path(pet) do %>
        <div class="card shadow" style="width: 200px;">
          <%= image_tag "owner-login" %>
          <div class="card-body">
            <h5 class="card-title"><%= pet.name %></h5>
            <p>Dueño: <%= pet.owner.name %></p>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
