<h1>Estas son las mascotas que has atendido, <%= current_vet.name %></h1>
<div class="d-flex gap-5">
  <% current_vet.pets.each do |pet| %>
    <%= link_to pet_path(pet) do %>
      <div class="card shadow" style="width: 200px;">
        <%= image_tag "owner-login" %>
        <div class="pet-body">
          <h5 class="card-title"><%= pet.name %></h5>
          <p><u>Dueño:</u> <%= pet.owner.name %></p>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
