<h1>Estas son las mascotas que has atendido, <%= current_vet.name %></h1>
<div class="d-flex gap-5">
  <% @pets.each do |pet| %>
    <%= link_to pet_path(pet) do %>
      <div class="card shadow" style="width: 200px;">
        <%= cl_image_tag pet.photo.key, :height => 250, :crop => "fill", class: "card-img-top" %>
        <div class="card-body">
          <h5 class="card-title"><%= pet.name %></h5>
          <p>Dueño: <%= pet.owner.name %></p>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
