<h1>Elige la Mascota que quieres atender</h1>
<div class="my-4 p-2 rounded-pill border border-2" style="background-color: var(--primary-color);">
  <nav class="navbar bg-body-tertiary">

    <div class="container-fluid">
      <a class="navbar-brand text-white">Buscador de mascotas</a>
      <%= form_with url: attend_new_pet_path, method: :get, class: "d-flex" do %>
        <%= text_field_tag :query,
        params[:query],
        class: "form-control",
        placeholder: "Busca una mascota"%>
        <%= submit_tag "Buscar", class: "btn btn-primary" %>
      <% end %>
    </div>
  </nav>
</div>

  <div class="owner-pets-cards">
    <% @pets.each do |pet| %>
      <%= link_to vet_show_pet_path(pet) do %>
        <div class="pet-card shadow bg-light mb-3 text-center">
          <%= cl_image_tag pet.photo.key, class: "img-pet-card" %>
          <div class="pet-card-body">
            <h5 class="pet-card-title"><%= pet.name %></h5>
            <p class="pet-card-text">Es un <%= pet.animal_type.animal_type.downcase %> que tiene <%= ((Date.today - pet.birthdate)/365).to_i %> años. Pertenece a <%= "#{pet.owner.name} #{pet.owner.last_name}" %></p>
          </div>
        </div>
      <% end %>
    <% end %>

</div>
