<div class="text-center my-4 border">
  <h1>Estas son las mascotas que has atendido, <%= current_vet.name %></h1>
</div>
<div class="pets-cards">
  <% @pets.each do |pet| %>
    <%= link_to pet_path(pet) do %>
      <div class="pet-card card shadow">
        <%= cl_image_tag pet.photo.key, class: "img-pet-card" %>
        <div class="card-body">
          <div class="pet-body">
            <h5 class="card-title"><%= pet.name %></h5>
            <p><u>Dueño:</u> <%= pet.owner.name %></p>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
