<h1>Elige la Mascota que quieres atender</h1>
<div class="my-4 p-2 rounded-pill border border-2" style="background-color: var(--primary-color);">
  <nav class="navbar bg-body-tertiary">

    <div class="container-fluid">
      <a class="navbar-brand text-white">Buscador de mascotas</a>
      <%= form_with url: attend_new_pet_path, method: :get, class: "d-flex" do %>
        <%= text_field_tag :query,
        params[:query],
        class: "form-control",
        placeholder: "Busca una mascota"%>
        <%= submit_tag "Buscar", class: "btn btn-primary" %>
      <% end %>
    </div>
  </nav>
</div>
<div class="container justify-content-evenly">
  <div class="pets-cards">
    <% @pets.each do |pet| %>
      <%= link_to pet_path(pet) do %>
        <div class="card shadow pet-card">
          <%= cl_image_tag pet.photo.key, class: "img-pet-card" %>
          <div class="card-body">
            <h5 class="card-title"><%= pet.name %></h5>
            <p>Dueño: <%= pet.owner.name %></p>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
