<div class="appointments" data-controller="calendar">
  <div class="carta veterinario">
    <%= @vet.name %>
  </div>

  <div class="container py-5">
    <div class="row">
      <div class="col-12 col-md-6 offset-lg-3">
        <div class="bg-white rounded p-3 shadow container-edit">
          <h3>Reserva de hora</h3>
          <%= simple_form_for @appointment, data: { controller: 'flatpickr' } do |f| %>
            <%= f.select :pet_id, collection: @pets.map{|pet| [pet.name, pet.id]} %>
            <%= f.input :date %>
            <%= f.select :hour, collection: [ "09:00-10:00", "10:00-11:00" ] %>
            <%= f.submit 'Reservar hora', class: "btn btn-primary" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
