<!DOCTYPE html>
<html>
  <head>
    <title>FourPawsApp</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body style = "background-image: linear-gradient(rgba(240,240,240,0.96),rgba(240,240,240,0.96 )),url(https://thumbs.dreamstime.com/b/modelo-incons%C3%BAtil-de-la-cl%C3%ADnica-veterinaria-124775629.jpg)";>
    <% if current_vet %>
      <%= render "shared/vet_sidebar" %>
    <% else %>
      <%= render "shared/navbar" %>
    <% end %>
    <%= render "shared/flashes" %>
    <%= yield %>
  </body>
    <%= render "shared/footer" %>
</html>
